* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    height: 77vh;
}

#email {
    width: 504px;
    height: 28px;
    padding: 12px 24px;
    border-radius: 7px;
    font-size: 16px;
    font-family: "Montserrat Alternates-Regular", sans-serif;
    color: rgba(252, 125, 71, 0.6);
}

#email {
    margin-top: 44px;
}

.description{
    color: rgba(22, 22, 22, 1);
    font-size: 16px;
    font-family: "Montserrat Alternates-Regular", sans-serif;
    margin-top: 16px;
    width: 531px;
    text-align: center;
}

.butn {
    width: 100%;
    margin-top: 36px;
    margin-bottom: 64px;
    padding: 12px 0;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
    background-color: #FC7D47;
    font-family: "Montserrat Alternates-SemiBold", sans-serif;
}

.back {
    position: absolute;
    right: 0;
    bottom: 50px;
}
