@use '../styles/globals.scss';

.form_group_forgotpas {
  @apply flex flex-col;

  legend {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 40px;
    @apply text-center;
  }
}

#email-forgot {
  width: 26.25vw;
  height: 2.59vh;
  padding: 1.11vh 1.25vw;
  border-radius: 7px;
  font-size: 16px;
  border: 1px solid #FC7D47;
  font-family: 'Montserrat-Regular', sans-serif;
  color: black;
  margin-top: 4.07vh;
}

.description-text {
  color: #161616;
  font-size: 16px;
  font-family: 'Montserrat-Regular', sans-serif;
  margin-top: 1.48vh;
  width: 24.01vw;
  @apply text-center;
}

.butn-forgot {
  width: 28.75vw;
  margin-top: 3.33vh;
  margin-bottom: 5.93vh;
  padding: 1.11vh 0;
  border-radius: 12px;
  @apply border-none text-white;
  font-size: 16px;
  line-height: 24px;
  background-color: #FC7D47;
  font-family: 'Montserrat-SemiBold', sans-serif;
}