.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 680px;
    padding: 68px;
    margin-top: 135px;
    margin-bottom: 125px;
    border-block-start: 0.5px solid #3BA3A4;
    border-block-end: 0.5px solid #3BA3A4;
    border-radius: 20px;
}

.form_group {
    display: flex;
    flex-direction: column;
}

.form_group > legend {
    font-size: 48px;
    font-family: "Montserrat Alternates-Regular", sans-serif;
    width: 552px;
    margin: 0 auto;
    text-align: center;
}

.form_group > input {
    border: 1px solid #FF9B65;
}

.error_message {
    color: #721c24;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    text-align: center;
}