.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 680px;
    padding: 68px;
    margin-top: 135px;
    margin-bottom: 125px;
    border-block-start: 0.5px solid #54545482;
    border-block-end: 0.5px solid #54545482;
    border-radius: 20px;
}

.form_group {
    display: flex;
    flex-direction: column;
}

.form_group > legend {
    font-size: 48px;
    font-family: "Montserrat Alternates-Regular", sans-serif;
    width: 552px;
    margin: 0 auto;
    text-align: center;
}