a {
    text-decoration: none;
}

header {
    display: flex;
    margin: 24px 236px;
    background: #FFFAF8;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 60px;
}

header > div {
    padding: 16px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 7px;
}

.logo > span {
    font-weight: 400;
    font-size: 24px;
    color: #484646;
}

.nav_links {
    display: flex;
    gap: 24px;
}

.nav_links > a {
    color: #484646;
    text-decoration: none;
    font-size: 16px;
    font-family: "Montserrat Alternates-Regular", sans-serif;
}

.nav_links a:hover {
    color: #FC7D47;
}

.nav_links a:active {
    color: #FF9B65;
}

.nav_buttons {
    display: flex;
    gap: 24px;

}

.nav_buttons > a {
    background-color: #FC7D47;
    line-height: 24px;
    padding: 10px 24px;
    color: #FEFEFE;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    font-family: "Montserrat Alternates-SemiBold", sans-serif;
}

.nav_buttons > a:hover {
    background-color: #FF9B65;
    color: #FFFFFF;
}

.nav_buttons > a:active {
    border: 1px solid #FC7D47;
    background-color: rgba(252, 125, 71, 0.4);
    color: #FC7D47;
}

footer {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 101px;
    border: 3px solid #FFF5F8;
    background-color: #FFFFFF;
    z-index: 1;
}

.footer_links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 16%;
    font-family: "Montserrat Alternates-Regular", sans-serif;
}

.footer_links a {
    text-decoration: none;
    color: black;
}

.footer_links a:hover {
    color: #FC7D47;
}

.footer_links a:active {
    color: #FF9B65;
}

.social_icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social_icons > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.social_icons > div > p {
    font-family: "Montserrat Alternates-Regular", sans-serif;
    font-size: 18px;
}