*{
    margin: 0;
    padding: 0;
}

.pers_param_main {
    display: flex;
    justify-content: center;
    background-image: url(../img/bg-pers-param.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 77vh;
}

.pers_param_main > div {
    display: flex;
}

.hero img {
    display: block;
}


.back_btn {
    background: none;
    border-radius: 6px;
    height: 40px;
    width: 40px;
    font-size: 24px;
    cursor: pointer;
}

.content-section {
    flex: 1;
    max-width: 680px;
}

.content-section h1 {
    font-size: 40px;
    font-family: "Montserrat Alternates-Medium", sans-serif;
    font-weight: 500;
    text-align: left;
    margin-bottom: 40px;
    width: 100%;
}

.form_container_level {
    padding: 68px 48px 40px;
    width: 100%;
    margin-left: 100px;
    box-shadow: 0 0 10px 7px rgba(210, 210, 210, 0.3);
    border-radius: 20px;
}

.radio_choice {
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 16px 24px;
    margin-top: 20px;
    border: 1px solid #E4E4E4;
    border-radius: 12px;
}

.radio_choice:hover {
    color: #FFFFFF;
    background-color: #D4AAF8;
}

.radio_choice.active {
    color: rgba(180, 138, 216, 1);
    background-color: rgba(180, 138, 216, 0.4);
}

.radio_choice > input {
    appearance: none;
}

.form_container > h2 {
    font-size: 24px;
    font-family: "Montserrat Alternates-Regular", sans-serif;
    text-align: center;
    font-weight: 400;
}

.radio_choice > label {
    font-size: 16px;
    font-family: "Montserrat Alternates-Regular", sans-serif;
}

.butn {
    width: 100%;
    margin-top: 44px;
    margin-bottom: 40px;
    padding: 12px 0;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-family: "Montserrat Alternates-SemiBold", sans-serif;
}