@use '../styles/globals.scss';

.pers_param_main {
  @apply flex justify-center bg-no-repeat bg-center;
  background-image: url(../img/bg-pers-param.png);
  background-size: 100vw 80vh;
  width: 85vw;
  height: 78vh;
}

.hero-pers-param {
  @apply flex;
  margin-right: 10vw;
  margin-bottom: 2vh;

  button {
    @apply flex items-center justify-center bg-white cursor-pointer;
    border: 1px solid #4C5050;
    width: 2.08vw;
    height: 3.7vh;
    border-radius: 6px;
  }

  img {
    @apply block;
  }
}

.content-section {
  @apply flex flex-col justify-center;
  width: 35vw;

  h1 {
    font-size: 40px;
    font-family: 'Montserrat-Medium', sans-serif;
    @apply text-left;
    width: 20.36vw;
  }
}

.form_container_level {
  padding: 6.3vh 2.5vw 3.7vh;
  box-shadow: 0 0 3px 0px #3BA3A499;
  border-radius: 20px;
  @apply bg-white mt-[5.19vh] ml-[5.21vw] w-[45vw];

  > h2 {
    font-size: 24px;
    font-family: 'Montserrat-Regular', sans-serif;
    @apply text-center mb-6;
    font-weight: 400;
  }

  >div {
    @apply mb-5;
  }
}