*{
    margin: 0;
    padding: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease;
}

.modal-cont {
    display: flex;
    justify-content: center;
    position: relative;
    background: #fff;
    max-width: 684px;
    width: 40%;
    padding-bottom: 64px;
    border-radius: 16px;
    margin-top: 8%;
}

.card-preview {
    position: absolute;
    top: -150px;
    left: 64px;
    background-image: url("/img/payment-card.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 32px;
    width: 81%;
    padding: 24px 52px;
}

#number-card-preview {
    color: #727272;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-top: 129px;
    margin-bottom: 48px;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 12px 24px;
    border: 1px solid #C2C2C2;
}

.data-preview {
    display: flex;
    justify-content: space-between;
}

.data-preview div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.data-preview div h4 {
    font-family: "Montserrat-Medium", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.data-preview div p {
    font-family: "Montserrat-Medium", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
}

.card-cont {
    margin-top: 204px;
    width: 80%;
}

.card-cont div:not(.verify-param, .remember-me) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
}

.card-cont div label {
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #727272;
    margin-bottom: 6px;
}

.card-cont div input:not(#save-card) {
    padding: 12px 24px;
    border-radius: 10px;
    border: 1px solid #FF9B65;
    color: #727272;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.verify-param, .remember-me {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.verify-param div:nth-of-type(1) div {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.verify-param div:nth-of-type(1) div input {
    color: #727272;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    width: 30%;
}

.verify-param div:nth-of-type(2) {
    width: 30%;
}

.modal-control {
    display: flex;
    gap: 14px;
    margin-top: 44px;
}

.modal-control button {
    padding: 12px 32px;
    border-radius: 12px;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-pay {
    background-color: #FC7D47;
    color: white;
    border: none;
}

.btn-pay:hover {
    background-color: #FF9B65;
}

.btn-pay:active {
    border: 1px solid #FC7D47CC;
    color: #FC7D47;
    background-color: #FC7D4766;
}

.btn-cancel {
    background-color: #FC7D471A;
    color: #FC7D47CC;
    border: 1px solid #FC7D47CC;
}

.btn-cancel:hover {
    background-color: #FC7D474D;
    color: #FC7D4799;
    border: 1px solid #FC7D47;
}

.btn-cancel:active {
    background-color: #FC7D4714;
    color: #FC7D4799;
    border: 1px solid #FC7D4799;
}

.remember-me > input[type="checkbox"] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #555;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    outline: none;
    background-color: white;
}

.remember-me > input[type="checkbox"]:checked {
    border: 1px solid #4C5050;
    background-color: transparent;
}

.remember-me > input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    left: 7px;
    top: 4px;
    width: 2px;
    height: 5px;
    border: solid #4C5050;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.field_error {
  color: #dc3545;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

input.error {
  border-color: #dc3545 !important;
}