*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    height: 77vh;
}

#email, #password, #name {
    width: 504px;
    height: 28px;
    padding: 12px 24px;
    border-radius: 7px;
    font-size: 16px;
    font-family: "Montserrat Alternates-Regular", sans-serif;
    color: black;
}

#email {
    margin-top: 44px;
}

#password {
    margin-top: 18px;
}

#name {
    margin-top: 18px;
}

.password_group {
    position: relative;
}

.password_group > img {
    position: absolute;
    height: 20px;
    top: 33px;
    right: 20px;
}

.politic{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: rgba(22, 22, 22, 1);
    font-size: 12px;
    font-family: "Montserrat Alternates-Regular", sans-serif;
    margin-top: 20px;
    width: 90%;
}

.politic_link{
    color: rgba(22, 22, 22, 1);
    font-family: "Montserrat Alternates-Medium", sans-serif;
    text-decoration: underline;
}

.politic_link:hover {
    color: #FC7D47;
}

.politic_link:active {
    color: #FF9B65;
}

.personal_data {
    display: flex;
    margin-top: 20px;
    margin-left: 6px;
    gap: 12px;
}

.personal_data > input {
    transform:scale(1.7);
    opacity:0.9;
}

.personal_data label{
    color: rgba(22, 22, 22, 1);
    font-size: 12px;
    font-family: "Montserrat Alternates-Regular", sans-serif;
}

.personal_data label a {
    color: rgba(22, 22, 22, 1);
    font-size: 12px;
    font-family: "Montserrat Alternates-Regular", sans-serif;
    text-decoration: underline;
}

.personal_data label a:hover {
    color: #FC7D47;
}

.personal_data label a:active {
    color: #FF9B65;
}

.personal_data > input[type="checkbox"] {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #555;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    outline: none;
    background-color: white;
}

.personal_data > input[type="checkbox"]:checked {
    border: 1px solid #4C5050;
    background-color: transparent;
}

.personal_data > input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 2px;
  width: 2px;
  height: 5px;
  border: solid #4C5050;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.butn {
    width: 100%;
    margin-top: 36px;
    padding: 12px 0;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    background-color: #FC7D47;
    font-family: "Montserrat Alternates-SemiBold", sans-serif;
}

.butn:hover {
    background-color: #FF9B65;
    cursor: pointer;
}

.butn:active {
    border: 1px solid rgba(252, 125, 71, 0.8);
    background-color: rgba(252, 125, 71, 0.4);
    color: #FC7D47;
}

.to_login {
    max-width: 391px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 18px;
    width: 391px;
    margin-top: 28px;
}

.to_login > p {
    font-size: 16px;
    color: #3B3B3B;
    font-family: "Montserrat Alternates-Regular", sans-serif;
}

.to_login > a {
    font-size: 16px;
    color: #3B3B3B;
    font-family: "Montserrat Alternates-Medium", sans-serif;
}

.to_login > a:hover {
    color: #FC7D47;
}

.to_login > a:active {
    color: #FF9B65;
}

.back {
    position: absolute;
    right: 0;
    bottom: 50px;
}
