@use '../styles/globals.scss';

.main-subbscriptions {
  @apply relative;
}

.title-sub {
  @apply flex justify-center items-center gap-[28.85vw] mt-[9.26vh] mb-[4.79vw];

  h1 {
    @apply w-[27vw] mr-[15vw] font-montserrat-semi-bold;
    font-size: 40px;
  }
}

.subscriptions-catalog {
  @apply flex flex-wrap justify-center gap-[1.25vw];

  > article {
    @apply flex relative bg-white w-[35vw] h-[39.72vh] mb-[2.22vh];
    border-radius: 16px;
    box-shadow: 0 0 4px 0 rgba(59, 163, 164, 0.6);
    padding: 0 1.04vw 3.33vh;
  }
}

.subscription-card {
  &:hover {
    @apply cursor-pointer;
    border: 1px solid #89C8C8;
  }

  &:active {
    border: 1px solid #36898A;
    box-shadow: none;
  }
}

.info {
  @apply flex flex-col justify-evenly relative w-[50vw] ml-[1.04vw];

  div {
    @apply absolute;
    top: -10vh;

    h2 {
      @apply font-montserrat-thin w-[9.9vw] h-[15.83vh];
      font-size: 160pt;
      font-weight: 250;

      span {
        @apply font-montserrat-light;
        font-size: 36px;
      }
    }
  }

  p {
    @apply font-montserrat-semi-bold mt-[14.81vh];
    font-size: 32px;
  }

  ul {
    width: 23.44vw;

    li {
      @apply font-montserrat-regular;
      font-size: 0.83vw;
    }
  }
}

.image-wrapper {
  width: 20.83vw;

  > img {
    width: 20.83vw;
    height: 34.72vh;
  }
}

.subscription-card > div:nth-of-type(2) {
  @apply absolute;
  top: -60px;
  right: -100px;
}

.bg-l,
.bg-r {
  width: 22vw;
  @apply absolute;
}

.bg-l {
  left: 0;
}

.bg-r {
  right: 0;
  bottom: 0;
}