@use '../styles/globals.scss';

.main_sub_details {
  background-image: url(../img/bg-pers-param.png);
  @apply bg-no-repeat bg-center bg-contain mt-[9.26vh] mb-[9.26vh];
}

.title {
  @apply flex justify-center gap-[28.85vw] mb-[5.93vh];

  h1 {
    @apply font-montserrat-semi-bold w-[27vw] mr-[15vw];
    font-size: 2.08vw;
  }
}

.sub-info {
  @apply flex justify-center mb-[4.81vh] gap-6;

  > article {
    @apply flex relative bg-white w-[35vw] h-[34.17vh];
    border-radius: 16px;
    box-shadow: 0 0 4px 0 rgba(59, 163, 164, 0.6);
    padding: 0 1.04vw 3.33vh;
  }
}

.sub-details {
  width: 35vw;

  article {
    h2 {
      @apply font-montserrat-semi-bold;
      font-size: 32px;
    }

    p {
      @apply font-montserrat-regular mt-[1.3vh] mb-[2.22vh];
      font-size: 24px;
      line-height: 36px;
      font-weight: 400;
    }

    ul {
      @apply list-none mb-[4.63vh];

      li {
        @apply flex gap-[0.52vw] font-montserrat-regular mb-[0.74vh];
        font-size: 16px;
        line-height: 24px;

        &::before {
          content: "•";
          color: #3BA3A480;
          @apply font-bold block w-[1.04vw] h-[1.85vh];
          font-size: 6em;
        }
      }
    }
  }
}

.price-tag {
  @apply flex justify-end;
}

.subscribe-btn {
  width: 100%;
  background-color: #FC7D47;
  padding: 1.11vh 1.67vw;
  border-radius: 12px;
  @apply border-none text-white mt-[2.78vh] font-montserrat-semi-bold;
  font-size: 16px;
}

.sub-advantages {
  @apply bg-white w-[75.42vw] ml-[14vw] p-[2.50vw];
  border: 2px solid #3BA3A480;
  border-radius: 18px;
}

.advantages {
  @apply flex flex-wrap justify-center w-[70.42vw] gap-6;

  article {
    width: 34.58vw;
    box-shadow: 0 0 6px 1px #3BA3A466;
    border-radius: 14px;
    padding: 4.07vh 2.08vw 7.13vh;

    div:nth-of-type(2) {
      h3 {
        @apply font-montserrat-semi-bold mb-[1.48vh];
        font-size: 24px;
        line-height: 28px;
        color: #2A2A2A;
      }

      p {
        @apply font-montserrat-regular w-[30.42vw;];
        font-size: 16px;
        line-height: 24px;
        color: #2A2A2A;
      }
    }
  }
}

.description {
  @apply flex flex-col items-start gap-[1.57vh] mb-[2.96vh] w-[62vw];

  h2 {
    @apply font-montserrat-semi-bold;
    font-size: 32px;
    line-height: 48px;
    color: #2A2A2A;
  }

  p {
    @apply text-left font-montserrat-regular w-[65vw];
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #2A2A2A;

    span {
      @apply font-montserrat-semi-bold;
    }
  }
}