*{
    margin: 0;
    padding: 0;
}

.pers_param_main {
    display: flex;
    justify-content: center;
    background-image: url(../img/bg-pers-param.png);
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 80vh;
}

.hero img {
    display: block;
}

.back_btn {
    background: none;
    border-radius: 6px;
    height: 40px;
    width: 40px;
    font-size: 24px;
    cursor: pointer;
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}

.content-section h1 {
    font-size: 40px;
    font-family: "Montserrat Alternates-Medium", sans-serif;
    text-align: left;
    margin-bottom: 40px;
    width: 100%;
}

.form_container_param {
    padding: 68px 48px 40px;
    width: 100%;
    margin-left: 100px;
    box-shadow: 0 0 4px 0px rgba(59, 163, 164, 0.6);
    border-radius: 20px;
    background: #FFFFFF;
}

.form_container_param div {
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    font-family: "Montserrat Alternates-Regular", sans-serif;
    text-align: center;
}

.form_choice > label {
    font-size: 16px;
    font-family: "Montserrat Alternates-Regular", sans-serif;
}

.form_group_measurements {
    display: flex;
    gap: 24px;
    flex-direction: row;
}

.form_group_measurements > div {
    display: flex;
    flex-direction: column;
    width: 31%;
}

.form_group_measurements > div > label {
    font-size: 18px;
    font-family: "Montserrat-Medium", sans-serif;
}

.form_group_measurements > div > input {
    padding: 16px 24px;
    border: 1px solid #C6C6C6;
    border-radius: 8px;
}

.form_group_measurements div input:hover {
    border: 1px solid rgba(252, 125, 71, 0.4);
}

.form_group_measurements > div > input[type="text"] {
    font-size: 16px;
    font-family: "Montserrat-Regular", sans-serif;
}

.form_choice input[type="radio"] {
    display: none;
}

.form_group_param > label {
    font-size: 18px;
    font-family: "Montserrat-Medium", sans-serif;
}

.form_group_param > div {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.choice-item {
    width: 50%;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    font-family: "Montserrat-Regular", sans-serif;
}

.choice-item > label {
    display: block;
    width: 100%;
    border: 1px solid #C6C6C6;
    padding: 16px 24px;
    border-radius: 8px;
}

.choice-item > label:hover {
    border: 1px solid rgba(252, 125, 71, 0.4);
}

.choice-item input[type="radio"]:checked + label {
    border: 1px solid rgba(252, 125, 71, 0.8);
}

.butn {
    width: 100%;
    margin-top: 44px;
    margin-bottom: 40px;
    padding: 12px 0;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-family: "Montserrat-SemiBold", sans-serif;
}