@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 0 0 rgba(212, 170, 248, 0.4);
    }
    70% {
        transform: translate(-50%, -50%) scale(1.1);
        box-shadow: 0 0 0 10px rgba(212, 170, 248, 0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 0 0 rgba(212, 170, 248, 0);
    }
}

*{
    margin: 0;
    padding: 0;
}

.pers_param_main {
    display: flex;
    justify-content: center;
    background-image: url(../img/bg-pers-param.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 77vh;
}

.pers_param_main > div {
    display: flex;
}

.hero img {
    display: block;
}

.hero {
    position: relative;
}

.hotspot {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 10;
    pointer-events: none;
    color: rgba(194, 194, 194, 0.6);
}

.hotspot.active {
    opacity: 1;
    background-color: rgba(194, 194, 194, 0.6);
    animation: pulse 1.5s infinite;
}

.power, #muscle1, #general1{
    top: 30%;
    left: 20%;
}

.fat, #general2 {
    top: 35%;
    left: 50%;
}

#muscle2, #general3 {
    top: 55%;
    left: 60%;
}

.form-section h1 {
    font-size: 40px;
    font-family: "Montserrat Alternates-Medium", sans-serif;
    font-weight: 500;
    text-align: left;
    margin-bottom: 40px;
    width: 100%;
}

.form_container_goal {
    padding: 68px 48px 40px;
    width: 100%;
    margin-top: 135px;
    margin-left: 100px;
    box-shadow: 0 0 4px 0px rgba(59, 163, 164, 0.6);
    background: #FFFFFF;
    border-radius: 20px;
}

.form_container_goal > legend {
    font-size: 24px;
    font-family: "Montserrat Alternates-Regular", sans-serif;
    text-align: center;
}

.radio_choice {
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 16px 24px;
    margin-top: 20px;
    border: 1px solid #E4E4E4;
    border-radius: 12px;
}

.radio_choice > label {
    font-size: 16px;
    font-family: "Montserrat Alternates-Regular", sans-serif;
}

.radio_choice:hover {
    color: #FFFFFF;
    background-color: #D4AAF8;
}

.radio_choice.active {
    background-color: rgba(180, 138, 216, 0.4);
}

.radio_choice > input {
    appearance: none;
}

.butn {
    width: 100%;
    margin-top: 44px;
    margin-bottom: 40px;
    padding: 12px 0;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-family: "Montserrat Alternates-SemiBold", sans-serif;
}