@use '../styles/globals.scss';

.main {
  position: relative;
  margin: 100px 0;
  min-height: calc(100vh - 300px);
}

.head {
  @apply flex flex-col items-center;
}

.title-work {
  @apply flex justify-evenly;
  gap: 28.85vw;
  margin-bottom: 2.96vh;

  h1 {
    width: 13.80vw;
    margin-right: 27vw;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 40px;
  }
}

.head p {
  font-family: 'Montserrat-Medium', sans-serif;
  font-size: 0.94vw;
  line-height: 1.41vw;
  width: 34.22vw;
  text-align: center;
}

.search_training {
  margin-top: 2.92vw;
  margin-bottom: 1.25vw;
  margin-left: 13.02vw;
  width: 27.50vw;

  > div {
    position: relative;
    padding: 0.42vw 0.63vw;

    img {
      position: absolute;
      top: 20px;
      left: 25px;
      z-index: 10;
      cursor: pointer;
    }

    input {
      width: 100%;
      padding: 12px 20px 12px 55px;
      border: 1px solid #B8B6B6;
      border-radius: 30px;
      font-size: 16px;
      outline: none;
      transition: border-color 0.3s;

      &:focus {
        border-color: #FC7D47;
      }

      &::placeholder {
        color: #999;
        font-size: 14px;
      }
    }
  }
}

.trainings_container {
  @apply flex flex-wrap justify-center;
  gap: 20px;
  max-width: 75.42vw;
  width: 100%;
  margin: 0 12.29vw;
  padding: 0 20px;
}

.training_card {
  @apply flex relative bg-white cursor-pointer;
  width: calc(50% - 10px);
  max-width: 37.08vw;
  border-radius: 16px;
  box-shadow: 0 0 4px 0 #3BA3A466;
  padding: 1.46vw 1.25vw;
  margin-bottom: 24px;

  img {
    width: 13.33vw;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 28px;
  }

  > div {
    flex: 1;
    @apply flex flex-col;

    > h2 {
      font-family: 'Montserrat-Medium', sans-serif;
      font-size: 24px;
      line-height: 28px;
      font-weight: 500;
      margin-bottom: 4px;
      color: #2A2A2A;
    }
  }
}

.time {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  margin-bottom: 24px;
  color: #666;
}

.description-training {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 30px;
  color: #4C5050;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.start-btn {
  @apply w-36 px-8 py-3 text-white font-montserrat-semi-bold ml-[13.96vw] mt-16;
  font-size: 0.83vw;
  line-height: 1.25vw;
  border-radius: 12px;
  background-color: #FC7D47;

  &:hover {
    background-color: #FF9B65;
  }

  &:active {
    background-color: #E86A36;
  }
}

.continue-btn {
  background-color: #3BA3A4;

  &:hover {
    background-color: #4FB5B6;
  }

  &:active {
    background-color: #2A8A8B;
  }
}