@use '../styles/globals.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  z-index: 0;
}

.main-exercise-warm {
  margin: 100px auto;
  max-width: 800px;
  @apply flex justify-center items-center;
}

.warmup-cont {
  @apply flex flex-col items-center;
  gap: 20px;
  border-radius: 32px;
  padding: 48px 40px;
  width: 100%;
  position: relative;
  z-index: 1;

  h1 {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 8px;
    color: #2A2A2A;
  }
}

.warmup-exercise {
  font-family: 'Montserrat-Medium', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #FC7D47;
  margin-bottom: 8px;
}

.warmup-cont img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  margin: 16px 0;
}

.description-exercise-warm {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 16px;
  line-height: 24px;
  max-width: 344px;
  text-align: center;
  color: #4C5050;
}

.next-warm {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  width: 100%;
  max-width: 344px;
  padding: 12px 32px;
  border: none;
  border-radius: 12px;
  background-color: #FC7D47;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 16px;

  &:hover:not(:disabled) {
    background-color: #FF9B65;
  }

  &:active:not(:disabled) {
    border: 1px solid #FC7D47CC;
    color: #FC7D47;
    background-color: #FC7D4766;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.stop-warm {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #FC7D47CC;
  width: 100%;
  max-width: 344px;
  padding: 12px 32px;
  border: 1px solid #FC7D47CC;
  border-radius: 12px;
  background-color: #FC7D471A;
  cursor: pointer;
  transition: all 0.3s;

  &:hover:not(:disabled) {
    background-color: #FC7D474D;
    border-color: #FC7D47;
    color: #FC7D4799;
  }

  &:active:not(:disabled) {
    background-color: #FC7D4714;
    border-color: #FC7D4799;
    color: #FC7D4799;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  opacity: 0.6;
  pointer-events: none;
  z-index: 0;
}

.bg-right {
  width: 37.76vw;
  height: auto;
  position: absolute;
  top: 100px;
  right: 0;
  transform: rotate(10deg);
  opacity: 0.6;
  pointer-events: none;
  z-index: 0;
}